<div class="side-bar-header">
  <div class="current-user">
    <a link="#">浜辺美波</a>
  </div>
  <div class="chat-create-btn">
    <a link="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">函館旅行計画</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">札幌飲み</a>
    </div>
  </div>
</div>
